<!-- 바로가기 -->
<div class="section mt-1 mb-1">
	<div class="card">
		<div class="c_title">
			바로가기<ion-icon class="lol" name="chevron-forward-circle" role="img" class="md hydrated" size="middle"></ion-icon> 
		</div>
		<div class="btn_body" style="position: relative;left: 7px;top:-5px">
			<!--
			<div style="float: left; width: 33%;">
				<button type="button" class="btn btn-primary rounded shadowed" onclick="location.href='/analysis/current' ">매출분석</button>
			</div>
			<div style="float: left; width: 33%;">
				<button type="button" class="btn btn-primary rounded shadowed" onclick="location.href='/main/yield_management' ">수율관리</button>
			</div>
			<div style="float: left; width: 33%;">
				<button type="button" class="btn btn-primary rounded shadowed" onclick="location.href='/bill/priceavg?month=<%= @pre_month %>&type=1' ">빌수/빌단가</button>
			</div>	
			<br><br>
			<div style="float: left; width: 33%;">
				<button type="button" class="btn btn-primary rounded shadowed" onclick="location.href='/main/performance_management' ">실적관리</button>
			</div>
			<div style="float: left; width: 33%;">
				<button type="button" class="btn btn-primary rounded shadowed" onclick="location.href='/reportrooms/typelist' ">소통방</button>
			</div>
			<div style="float: left; width: 33%;">
				<button type="button" class="btn btn-primary rounded shadowed" onclick="location.href='/main/sales_report' ">매출보고서</button>
			</div>
				<br><br>
			<div style="float: left; width: 33%;">
				<button type="button" class="btn btn-primary_2 rounded shadowed" onclick="location.href='/main/business_evaluation' ">업장평가</button>
			</div>
			
			<div style="float: left; width: 33%;">
			
			</div>
			
			<div style="float: left; width: 33%;">
			
			</div>
			-->
			
			<div style="float: left; width: 33%;">
				<button type="button" class="btn btn-primary rounded shadowed"  onclick="location.href='/main/sales_report' ">매출보고서</button>
			</div>
			<div style="float: left; width: 33%;">
				<button type="button" class="btn btn-primary_2 rounded shadowed" onclick="location.href='/main/business_evaluation' ">업장평가</button>
			</div>
			<div style="float: left; width: 33%;"  class="shadowed">
			
			</div>	
			<br><br>
			
			
			<div style="float: left; width: 33%;">
				<button type="button" class="btn btn-primary rounded shadowed" onclick="location.href='/analysis/current' ">매출분석</button>
			</div>
			<div style="float: left; width: 33%;">
				<button type="button" class="btn btn-primary rounded shadowed" onclick="location.href='/main/performance_management' ">실적관리</button>
			</div>
			<div style="float: left; width: 33%;">
				<button type="button" class="btn btn-primary rounded shadowed" onclick="location.href='/bill/priceavg?month=<%= @pre_month %>&type=1' ">빌수/빌단가</button>
			</div>
			<br><br>
			
			<div style="float: left; width: 33%;">
				<button type="button" class="btn btn-primary rounded shadowed" onclick="location.href='/main/yield_management' ">수율관리</button>
			</div>
			
			<div style="float: left; width: 33%;">
				<button type="button" class="btn btn-primary rounded shadowed" onclick="location.href='/reportrooms/typelist' ">소통방</button>
			</div>
			
			<div style="float: left; width: 33%;" class="shadowed">
				<button type="button" class="btn btn-primary_3 rounded shadowed" onclick="location.href='/main/toilet_check' ">화장실점검</button>
			</div>
			
		</div>
	</div>
</div>