/* line 5, app/assets/stylesheets/reportrooms.scss */
textarea {
  resize: none;
  width: 100%;
  min-height: 50%;
}

/* line 11, app/assets/stylesheets/reportrooms.scss */
select {
  width: 200px;
  padding: .5em .5em;
  border: 1px solid #999;
  z-index: 1;
}

/* line 18, app/assets/stylesheets/reportrooms.scss */
ul {
  list-style: none;
  padding-left: 5px;
}
/* line 2, app/assets/stylesheets/reportrooms/type.scss */
.card .card-body {
  padding: 7px;
  line-height: 1.4em;
}

/* line 7, app/assets/stylesheets/reportrooms/type.scss */
.card .card-title {
  color: #141515;
  font-size: 18px;
  font-weight: 700;
  margin-top: .6rem;
}

/* line 14, app/assets/stylesheets/reportrooms/type.scss */
.card .c_title {
  color: #141515;
  font-size: 15px;
  padding: 5px 10px;
  font-weight: 700;
  margin-top: .6rem;
}

/* line 22, app/assets/stylesheets/reportrooms/type.scss */
.card .chart_title {
  color: #141515;
  font-size: 18px;
  font-weight: 700;
  margin-top: .6rem;
}

/* line 28, app/assets/stylesheets/reportrooms/type.scss */
.card .listview .in1 {
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* line 36, app/assets/stylesheets/reportrooms/type.scss */
.card .listview .in2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

/* line 43, app/assets/stylesheets/reportrooms/type.scss */
.card .listview .in2 .chip {
  height: 30px;
  line-height: 30px;
  display: block;
  text-align: left;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
  width: 100%;
}

/* line 55, app/assets/stylesheets/reportrooms/type.scss */
.card .listview .in1 .chip {
  height: 25px;
  line-height: 25px;
  display: block;
  text-align: left;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
  width: 100%;
}

/* line 67, app/assets/stylesheets/reportrooms/type.scss */
.card .listview .t {
  height: 18px;
  line-height: 18px;
  display: block;
  text-align: left;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 77, app/assets/stylesheets/reportrooms/type.scss */
.btn_body {
  padding: 7px;
}

/* line 81, app/assets/stylesheets/reportrooms/type.scss */
.btn_body .btn {
  font-size: 13px;
}

/* line 86, app/assets/stylesheets/reportrooms/type.scss */
.iframe100 {
  display: block;
  border: none;
  height: 100vh;
  width: 100%;
}

/* line 87, app/assets/stylesheets/reportrooms/type.scss */
.accordion-body {
  padding: 0.25rem 0.25rem;
}

/* line 90, app/assets/stylesheets/reportrooms/type.scss */
.side_menu {
  margin-left: 30px;
}

/* line 96, app/assets/stylesheets/reportrooms/type.scss */
.side_menu .chip {
  height: 28px;
  line-height: 28px;
  display: block;
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 2px;
  width: 95%;
}

/* line 107, app/assets/stylesheets/reportrooms/type.scss */
.section-title {
  font-size: 20px;
}

/* line 113, app/assets/stylesheets/reportrooms/type.scss */
.inset .accordion {
  border-radius: 6px;
  border: 1px solid #E1E1E1;
  margin-top: 5px;
}
/* line 1, app/assets/stylesheets/sales_analysis/current.scss */
.input-group .input-group-text {
  padding-left: 5px;
  background: transparent;
  border: 0;
  /* border-bottom: 1px solid #E1E1E1; */
  border-radius: 0;
  font-size: 20px;
  font-weight: 400;
  color: #141515;
  /* height: 40px; */
  width: auto;
  /* padding: 0 10px 0 0; */
}

/* line 15, app/assets/stylesheets/sales_analysis/current.scss */
.listview {
  display: block;
  padding: 0;
  margin: 0;
  color: #141515;
  background: #fff;
  border-top: 0px solid #E1E1E1;
  border-bottom: 0px solid #E1E1E1;
  line-height: 1.3em;
}

/* line 26, app/assets/stylesheets/sales_analysis/current.scss */
.listview > li:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0px;
  background: #E1E1E1;
}

/* line 37, app/assets/stylesheets/sales_analysis/current.scss */
.listview_new {
  display: block;
  padding: 0;
  margin: 0;
  color: #141515;
  background: #fff;
  line-height: 1.3em;
}

/* line 47, app/assets/stylesheets/sales_analysis/current.scss */
.simple-listview > li .item {
  padding: 2px 18px;
  width: 100%;
  min-height: 30x;
  display: flex;
  align-items: center;
}

/* line 55, app/assets/stylesheets/sales_analysis/current.scss */
.simple-listview > li .item .s_item_in1 {
  width: 30%;
}

/* line 59, app/assets/stylesheets/sales_analysis/current.scss */
.simple-listview > li .item .s_item_in2 {
  text-align: right;
  padding-right: 28px;
  width: 100%;
}

/* line 65, app/assets/stylesheets/sales_analysis/current.scss */
.card .card-body {
  padding: 7px;
  line-height: 1.4em;
}

/* line 70, app/assets/stylesheets/sales_analysis/current.scss */
.card .title {
  padding-top: 7px;
  margin-bottom: -15px;
}

/* line 75, app/assets/stylesheets/sales_analysis/current.scss */
.card .card-title {
  padding-left: 7px;
  color: #141515;
  font-size: 18px;
  margin-top: .6rem;
  float: left;
  width: 35%;
}

/* line 85, app/assets/stylesheets/sales_analysis/current.scss */
.card .date {
  float: left;
  width: 65%;
}

/* line 94, app/assets/stylesheets/sales_analysis/current.scss */
.image-listview > li .item {
  padding: 0px 0px;
  width: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
}

/* line 102, app/assets/stylesheets/sales_analysis/current.scss */
.card .listview .in1 {
  padding-left: 15px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

/* line 111, app/assets/stylesheets/sales_analysis/current.scss */
.card .listview .in1 .in1body {
  width: 100%;
}

/* line 115, app/assets/stylesheets/sales_analysis/current.scss */
.card .listview .in .in2body {
  width: 100%;
  margin-right: 0.6rem;
}

/* line 120, app/assets/stylesheets/sales_analysis/current.scss */
.card .listview .in1 .in1body .chip {
  height: 18px;
  line-height: 18px;
  display: block;
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

/* line 131, app/assets/stylesheets/sales_analysis/current.scss */
.card .listview .t {
  height: 18px;
  line-height: 18px;
  display: block;
  text-align: right;
  font-size: 15px;
}

/* line 140, app/assets/stylesheets/sales_analysis/current.scss */
.btn_body {
  padding: 7px;
}

/* line 144, app/assets/stylesheets/sales_analysis/current.scss */
.btn_body .btn {
  font-size: 13px;
}
/* line 1, app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
}

/* line 6, app/assets/stylesheets/scaffolds.scss */
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 11, app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 16, app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}

/* line 19, app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}

/* line 22, app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 26, app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 29, app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 32, app/assets/stylesheets/scaffolds.scss */
div.field,
div.actions {
  margin-bottom: 10px;
}

/* line 36, app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 39, app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 44, app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 51, app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

/* line 60, app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 64, app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 4, app/assets/stylesheets/sessions.scss */
#alertclose {
  border-color: transparent;
  background-color: transparent;
}

/* line 10, app/assets/stylesheets/sessions.scss */
#reportbtn {
  background-color: transparent;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
