/* line 1, app/assets/stylesheets/sales_analysis/current.scss */
.input-group .input-group-text {
  padding-left: 5px;
  background: transparent;
  border: 0;
  /* border-bottom: 1px solid #E1E1E1; */
  border-radius: 0;
  font-size: 20px;
  font-weight: 400;
  color: #141515;
  /* height: 40px; */
  width: auto;
  /* padding: 0 10px 0 0; */
}

/* line 15, app/assets/stylesheets/sales_analysis/current.scss */
.listview {
  display: block;
  padding: 0;
  margin: 0;
  color: #141515;
  background: #fff;
  border-top: 0px solid #E1E1E1;
  border-bottom: 0px solid #E1E1E1;
  line-height: 1.3em;
}

/* line 26, app/assets/stylesheets/sales_analysis/current.scss */
.listview > li:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0px;
  background: #E1E1E1;
}

/* line 37, app/assets/stylesheets/sales_analysis/current.scss */
.listview_new {
  display: block;
  padding: 0;
  margin: 0;
  color: #141515;
  background: #fff;
  line-height: 1.3em;
}

/* line 47, app/assets/stylesheets/sales_analysis/current.scss */
.simple-listview > li .item {
  padding: 2px 18px;
  width: 100%;
  min-height: 30x;
  display: flex;
  align-items: center;
}

/* line 55, app/assets/stylesheets/sales_analysis/current.scss */
.simple-listview > li .item .s_item_in1 {
  width: 30%;
}

/* line 59, app/assets/stylesheets/sales_analysis/current.scss */
.simple-listview > li .item .s_item_in2 {
  text-align: right;
  padding-right: 28px;
  width: 100%;
}

/* line 65, app/assets/stylesheets/sales_analysis/current.scss */
.card .card-body {
  padding: 7px;
  line-height: 1.4em;
}

/* line 70, app/assets/stylesheets/sales_analysis/current.scss */
.card .title {
  padding-top: 7px;
  margin-bottom: -15px;
}

/* line 75, app/assets/stylesheets/sales_analysis/current.scss */
.card .card-title {
  padding-left: 7px;
  color: #141515;
  font-size: 18px;
  margin-top: .6rem;
  float: left;
  width: 35%;
}

/* line 85, app/assets/stylesheets/sales_analysis/current.scss */
.card .date {
  float: left;
  width: 65%;
}

/* line 94, app/assets/stylesheets/sales_analysis/current.scss */
.image-listview > li .item {
  padding: 0px 0px;
  width: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
}

/* line 102, app/assets/stylesheets/sales_analysis/current.scss */
.card .listview .in1 {
  padding-left: 15px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

/* line 111, app/assets/stylesheets/sales_analysis/current.scss */
.card .listview .in1 .in1body {
  width: 100%;
}

/* line 115, app/assets/stylesheets/sales_analysis/current.scss */
.card .listview .in .in2body {
  width: 100%;
  margin-right: 0.6rem;
}

/* line 120, app/assets/stylesheets/sales_analysis/current.scss */
.card .listview .in1 .in1body .chip {
  height: 18px;
  line-height: 18px;
  display: block;
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

/* line 131, app/assets/stylesheets/sales_analysis/current.scss */
.card .listview .t {
  height: 18px;
  line-height: 18px;
  display: block;
  text-align: right;
  font-size: 15px;
}

/* line 140, app/assets/stylesheets/sales_analysis/current.scss */
.btn_body {
  padding: 7px;
}

/* line 144, app/assets/stylesheets/sales_analysis/current.scss */
.btn_body .btn {
  font-size: 13px;
}
