<div class="appBottomMenu">

<a href="/sales_analysis/sales_view_1" class="item">
<div class="col">
	<ion-icon name="document-text-outline" role="img" class="md hydrated" aria-label="document text outline"></ion-icon>
	<strong>현재 매출</strong>
</div>
</a>
<a href="/sales_analysis/sales_view_2" class="item">
<div class="col">
	<ion-icon name="document-text-outline" role="img" class="md hydrated" aria-label="document text outline"></ion-icon>
	<strong>일별 매출</strong>
</div>
</a>
<a href="/sales_analysis/sales_view_3" class="item">
<div class="col">
	<ion-icon name="document-text-outline" role="img" class="md hydrated" aria-label="document text outline"></ion-icon>
	<strong>기간 매출</strong>
</div>
</a>
<a href="/sales_analysis/sales_view_4" class="item">
<div class="col">
	<ion-icon name="document-text-outline" role="img" class="md hydrated" aria-label="document text outline"></ion-icon>
	<strong>월별 매출</strong>
</div>
</a>

</div>